{% extends 'base.html.twig' %}

{% block title %}Multisite tools{% endblock %}

{% block body %}
    {% if is_logegged_id %}
        <h5 class="card-title">Multisite tools</h5>
        <ul>
            <li>
                <a href="{{ path('mu_header') }}">
                    Main header
                </a>
            </li>
            <li>
                <a href="{{ path('mu_network') }}">
                    Hexis network
                </a>
            </li>
        </ul>
    {% else %}
        <a href="/admin">
            Login
        </a>
    {% endif %}
{% endblock %}