<link rel="stylesheet" href="{{ data_url }}/assets/css/muheader.css">
<link rel="stylesheet" href="{{ data_url }}/assets/css/fontello-embedded.css">

<div id="hx-toolbar">

    <div id="tab-1" class="toggle-content mu-content-group gray">
        <div class="mu-container mu-row">
            <div class="mu-brand mu-cell-1">
                <div class="mu-cont">
                    <h4 class="toggle-ul">HEXIS GROUP</h4>
                    <ul>
                        <li>
                            <a href="https://www.hexisgroup.com/">{{ 'website'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <div class="mu-cont">
                    <h4 class="toggle-ul">HEXIS Graphics</h4>
                    <ul>
                        <li>
                            <a href="https://www.hexis-graphics.com/fr/">FR</a>
                        </li>
                        <li>
                            <a href="https://www.hexis-graphics.com/es/">ES</a>
                        </li>
                        <li>
                            <a href="https://www.hexis-graphics.com/de/">DE</a>
                        </li>
                        <li>
                            <a href="https://www.hexis-graphics.com/it/">IT</a>
                        </li>
                        <li>
                            <a href="https://www.hexis-graphics.com/?country=AU">AU</a>
                        </li>
                        <li>
                            <a href="https://www.hexis-graphics.com/sv/">SV</a>
                        </li>
                        <li>
                            <a href="https://www.hexis-graphics.com/us/">US</a>
                        </li>
                    </ul>
                </div>
                <div class="mu-cont">
                    <h4 class="toggle-ul">HEXIS Training</h4>
                    <ul class="test">
                        <li>
                            <a href="//www.hexis-formations.com/">FR</a>
                        </li>
                        <li>
                            <a href="//www.hexis-training.com/">EN</a>
                        </li>
                        <li>
                            <a href="//www.hexis-training.com/es/">ES</a>
                        </li>
                        <li>
                            <a href="//www.hexis-training.com/de/">DE</a>
                        </li>
                        <li>
                            <a href="//www.hexis-training.com/it/">IT</a>
                        </li>
                        <li>
                            <a href="//www.hexis-training.com/us/">US</a>
                        </li>
                    </ul>
                </div>
                <div class="mu-cont">
                    <h4 class="toggle-ul">BODYFENCE</h4>
                    <ul>
                        <li>
                            <a href="https://www.bodyfence.net">{{ 'website'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mu-customer mu-cell-2 mu-row">
                <div class="mu-cell">
                    <div class="mu-cont">
                        <h4 class="toggle-ul">EUROPE</h4>
                        <ul>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-FR.png"/>HEXIS France</a>
                            </li>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-IT.png"/>HEXIS Italia</a>
                            </li>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-ES.png"/>HEXIS Spain</a>
                            </li>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-DE.png"/>HEXIS Germany</a>
                            </li>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-SE.png"/>HEXIS Sweden</a>
                            </li>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-DK.png"/>HEXIS Denmark</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mu-cell">
                    <div class="mu-cont">
                        <h4 class="toggle-ul">AMERICA</h4>
                        <ul>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-US.png"/>HEXIS America</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mu-cont">
                        <h4 class="toggle-ul">OCEANIA</h4>
                        <ul>
                            <li>
                                <a href="https://hexis-online.fr/"><img src="{{ data_url }}/assets/img/flag/flag-EN.png"/>HEXIS Australia</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mu-cont">
                        <h4 class="toggle-ul">Export</h4>
                        <ul>
                            <li>
                                <a href="https://hexis-online.fr/">
                                    <img src="http://cdn.hexis-graphics.com/topbar/assets/flag-EN.png"/><img src="http://cdn.hexis-graphics.com/topbar/assets/flag-FR.png"/>
                                    HEXIS Export
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="black">
        <div id="mu-header" class="mu-container">
            <ul class="mu-nav">
                <li class="mu-nav-item">
                    <a href="#tab-1" class="toggle">HEXIS Group</a>
                </li>

                <li class="mu-nav-item">
                    <a href="https://catalogues.hexis-graphics.com">
                        <i class="icon-folder-open"></i>
                        <span>{{ 'Documentation'|trans }}</span>
                    </a>
                </li>
                <li class="mu-nav-item">
                    <a href="{{ data_url }}">
                        <i class="icon-picture"></i>
                        <span>{{ 'Product catalogue'|trans }}</span>
                    </a>
                </li>
                <li class="mu-nav-item mu-account push">
                    <a href="https://hexis-online.com">
                        <i class="icon-user"></i>
                        <span>{{ 'My account'|trans }}</span>
                    </a>
                </li>
                <li class="mu-nav-item mu-contact">
                    <a data-src="{{ data_url }}/public/{{app.request.locale}}/contacts-distributors-{{app.request.locale}}/" class="iframe-lightbox-link mu-btn-red" href="javascript:return false">
                        <i class="icon-mail-alt"></i>
                        <span>{{ 'Contact'|trans }}</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<script src="{{ data_url }}/assets/js/libs/iframe-lightbox/iframe-lightbox.js"></script>
<script src="{{ data_url }}/assets/js/shared/hexis-header.js?v1.0.0"></script>