{% extends 'base.html.twig' %}

{% block title %}HEXIS data export{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Articles</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Download</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for dos in art_dos %}

                            <li>
                                <strong>Dos:
                                    {{ dos.dos }}</strong>
                                <small>{{ dos.results }}
                                    Arts</small>
                                <p>
                                    <a href="{{ path('export_arts',{'format':'csv','dos':dos.dos})}}">CSV</a>
                                    |
                                    <a href="{{ path('export_arts',{'format':'json','dos':dos.dos})}}">JSON</a>
                                    |
                                    <a href="{{ path('export_arts',{'format':'xml','dos':dos.dos})}}">XML</a>
                                </p>
                            </li>

                        {% endfor %}
                    </ul>
                    <hr>
                    <h6>Full data<br>
                        <small>{{art_dos|last.results}}
                            Articles</small>
                    </h6>
                    <p>
                        <a href="{{ path('export_arts',{'format':'csv','dos':art_dos|last.dos})}}">CSV</a>
                        |
                        <a href="{{ path('export_arts',{'format':'json','dos':art_dos|last.dos})}}">JSON</a>
                        |
                        <a href="{{ path('export_arts',{'format':'xml','dos':art_dos|last.dos})}}">XML</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Categories</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Download</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for dos in cats_dos %}
                            {% if loop.last != true %}
                                <li>
                                    <strong>Dos:
                                        {{ dos.dos }}</strong>
                                    <small>{{ dos.results }}
                                        Cats</small>
                                    <p>
                                        <a href="{{ path('export_cats',{'format':'csv','dos':dos.dos})}}">CSV</a>
                                        |
                                        <a href="{{ path('export_cats',{'format':'json','dos':dos.dos})}}">JSON</a>
                                        |
                                        <a href="{{ path('export_cats',{'format':'xml','dos':dos.dos})}}">XML</a>
                                    </p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
                    <h6>Full data<br>
                        <small>{{cats_dos|last.results}}
                            Categories</small>
                    </h6>
                    <p>
                        <a href="{{ path('export_cats',{'format':'csv','dos':cats_dos|last.dos})}}">CSV</a>
                        |
                        <a href="{{ path('export_cats',{'format':'json','dos':cats_dos|last.dos})}}">JSON</a>
                        |
                        <a href="{{ path('export_cats',{'format':'xml','dos':cats_dos|last.dos})}}">XML</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Rates</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Download</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for dos in rates_dos %}
                            {% if loop.last != true %}
                                <li>
                                    <strong>Dos:
                                        {{ dos.dos }}</strong>
                                    <small>{{ dos.results }}
                                        Rates</small>
                                    <p>
                                        <a href="{{ path('export_rates',{'format':'csv','dos':dos.dos})}}">CSV</a>
                                        |
                                        <a href="{{ path('export_rates',{'format':'json','dos':dos.dos})}}">JSON</a>
                                        |
                                        <a href="{{ path('export_rates',{'format':'xml','dos':dos.dos})}}">XML</a>
                                    </p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
                    <h6>Full data<br>
                        <small>{{rates_dos|last.results}}
                            Rates</small>
                    </h6>
                    <p>
                        <a href="{{ path('export_rates',{'format':'csv','dos':rates_dos|last.dos})}}">CSV</a>
                        |
                        <a href="{{ path('export_rates',{'format':'json','dos':rates_dos|last.dos})}}">JSON</a>
                        |
                        <a href="{{ path('export_rates',{'format':'xml','dos':rates_dos|last.dos})}}">XML</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Commercial offers</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Download</h5>
                    <ul class="list-unstyled mt-3 mb-4">
                        {% for dos in art_dos %}
                            {% if loop.last != true %}
                                <li>
                                    <strong>Dos:
                                        {{ dos.dos }}</strong>
                                    <small>{{ dos.results }}
                                        Rates</small>
                                    <p>
                                        <a href="{{ path('export_offers',{'format':'csv','dos':dos.dos})}}">CSV</a>
                                        |
                                        <a href="{{ path('export_offers',{'format':'json','dos':dos.dos})}}">JSON</a>
                                        |
                                        <a href="{{ path('export_offers',{'format':'xml','dos':dos.dos})}}">XML</a>
                                    </p>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <hr>
                    <h6>Full data<br>
                        <small>{{art_dos|last.results}}
                            Rates</small>
                    </h6>
                    <p>
                        <a href="{{ path('export_offers',{'format':'csv','dos':art_dos|last.dos})}}">CSV</a>
                        |
                        <a href="{{ path('export_offers',{'format':'json','dos':art_dos|last.dos})}}">JSON</a>
                        |
                        <a href="{{ path('export_offers',{'format':'xml','dos':art_dos|last.dos})}}">XML</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}