{% extends 'base.html.twig' %}

{% block title %}HEXIS data export{% endblock %}
{% block bodyclass %}catalogue{% endblock %}
{% block nav_widget %}
    <div class="row">
        <div class="cat lv1 col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="cat lv2 col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="cat lv3 col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
        <div class="download col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
    </div>

{% endblock %}

{% block body %}
    <div id="loading">Please wait...</div>
    <div id="main-content" style="display:none">
        <div id="catalogue-content">
            <div class="text-center">
                <h1 class="jumbotron-heading">Catalogue HEXIS</h1>
                <p class="lead text-muted">Please chose your language to start downloading the images and content</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </button>
                    <div id="drop-lang" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for dos in art_dos %}
                            <a class="dropdown-item" href="#" data-lang="{{dos.dos}}">{{ dos.lang }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_footer %}{% endblock %}
{% block javascripts %}
    <script src="/assets/js/catalogue.js"></script>
{% endblock %}