$red: #C90119;
$gray:#444;

.main-container {
    padding: 25px 15px 0;
}

.download {
    display: none;
}

.btn-lightbox {
    display: block;
    padding: 15px;
    background: $red;
    margin-left: 25px;
    border: 1px solid $gray;
    text-align: center;
    color: #fff;

    &:hover {
        background: $gray;
        color: #fff;
    }
}

header {
    h5 {
        a {
            color: $gray;

            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }
}

.block {
    display: block;

}

.home-catalogue {
    .card {
        margin-bottom: 1.25em;
    }

    .card-body {
        padding: 0px;

    }

    .block {
        color: #000;
        padding: 1.25em;
        font-size: 0.9em;

        .cat-imgs,
        .cat-name {
            display: block;

        }

        img {
            width: 60px;
            border: 3px solid #fff;
        }

        &:hover {
            background: #ccc;
            text-decoration: none;
        }
    }
}

footer {
    background: url(/assets/img/footer-1920.png) top center no-repeat;

    .container {
        padding: 120px 0px 40px !important;
        background: transparent url(/assets/img/footer-strip.png) no-repeat top right;

        a {
            color: #fff !important;
        }
    }
}

#loading {
    top: 40%;
    font-family: "Open Sans", sans-serif;
    width: 80%;
    display: block;
    position: relative;
    color: #212121;
    background-color: #eee;
    padding: 1rem;
    margin: 1.5rem auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

#loading span {
    color: #555;
    font-size: 0.8em;
}

#loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation: loadBar 2s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
    animation: loadBar 2s cubic-bezier(0.09, 0.89, 0.7, 0.71) infinite;
}

@-webkit-keyframes loadBar {
    0% {
        left: -110%;
    }

    100% {
        left: 110%;
    }
}

@keyframes loadBar {
    0% {
        left: -110%;
    }

    100% {
        left: 110%;
    }
}



@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    #catalogue-content {
        .img-thumbnail {
            max-width: 150px;
        }
    }

    /* IE10+ CSS */
    .ekko-lightbox .modal-dialog {
        flex: 100% !important;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
        -ms-overflow-style: none;
    }
}