$red:#C90119;
$black:#23282D;

#hx-toolbar {
    .mu-cont .ul.is-visible {
        height: auto;
    }

    font-size: 16px;
    font-family: Verdana,
    Geneva,
    Tahoma,
    sans-serif;

    h4 {
        font-size: 1em;
    }

    a {
        font-size: .8em;
        padding: 5px 5px;
        color: $black;

        img {
            position: relative;
            width: 16px;
            vertical-align: initial;
            top: 3px;
            margin: 0px 10px 0 0 !important;

        }

        &:hover {
            background: red;
            color: #fff;
        }
    }

    .push {
        margin-left: auto;
    }

    .mu-row {
        display: flex;
        flex-direction: row;

    }

    .toggle-content {
        visibility: hidden;
        height: 0;
        opacity: 0;
        transition: all 0.3s linear;
        overflow: hidden;
        padding: 0;
    }

    .toggle-content.is-visible {
        visibility: visible;
        height: 310px;
        opacity: 1;
    }

    .mu-container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .mu-content-group {
        background: #eee;
        padding: 0px 25px;

        h4 {
            margin: 10px 0px;
        }

        .mu-cell-1 {
            border-right: 1px solid $black;
            padding: 25px;
            width: 40%;

            ul {
                flex-wrap: wrap;
                display: flex;
                list-style: none;
                margin: 0px;
                padding: 0px;

                li {
                    padding: 0px 5px;
                }
            }
        }

        .mu-cell-2 {
            width: 60%;
            background: #fff;
            padding: 25px;

            ul {
                list-style: none;
                margin: 0px;
                padding: 0px;
            }

            li {
                margin-bottom: 3px;
            }

            a {
                display: inline-block;
            }

            .mu-cell {
                width: 40%;
            }
        }
    }
}

.black {
    background: $black;
}

.mu-btn-red {
    background: $red;
}


#mu-header {

    ul {

        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0px;

        padding: 0px;

        li {

            a {
                color: #fff;
                text-decoration: none;
                display: block;
                padding: 15px;

                &:hover {
                    background: $red;
                }
            }
        }
    }
}

@media (max-width: 732px) {
    #mu-header a {
        font-size: 0.7em;
    }

    #hx-toolbar .mu-cell-2 {
        .mu-cell {
            width: 50%;
        }
    }
}

@media (max-width: 666px) {



    .mu-customer li img,
    #mu-header a i {
        display: none;
    }

    #hx-toolbar {

        .mu-row .mu-cell-1,
        .mu-row .mu-cell-2 {
            padding: 10px;
        }

        .mu-content-group {
            padding: 0px;
        }

        .mu-row .mu-cell-2 {
            padding-left: 25px !important;
        }

        .toggle-content.is-visible {
            height: auto;
        }

        .mu-content-group .mu-cell-2 {
            background: transparent;
        }

        .mu-cell-1,
        .mu-cell-2 {

            width: 50% !important;
        }

        .mu-cell-2 {
            padding-left: 15px;

            .mu-cell {
                width: 100% !important;
            }
        }

        .mu-row {
            flex-direction: row;

            .mu-row {
                flex-direction: column;
            }
        }

        .mu-cont {
            h4 {
                padding: 5px;
                cursor: pointer;
            }

            ul {
                overflow: hidden;
                height: 0;
                opacity: 0;
                transition: all 0.5s linear;



            }

            &.is-visible {
                h4 {
                    background: $black;
                    color: #fff;
                }

                ul {
                    opacity: 1;
                    height: auto;
                }
            }
        }


    }
}

@media (max-width: 560px) {
    #mu-header a {
        font-size: 1em;

        i {
            display: block;
        }

        span {
            display: none;
        }
    }
}