{% extends 'base.html.twig' %}

{% block title %}HEXIS Sync{% endblock %}
{% block body %}
    <h1>Sync finished</h1>
    <pre>{{ message }}</pre>
{% endblock %}
{% block javascripts %}
    <script>
        (function ($) {
            $("#loading").hide();
        }(jQuery));
        jQuery(window).trigger("loadComplete");
    </script>
{% endblock %}