<div class="container home-catalogue">
    <div class="row">
        {% for cat in cats %}
            {% if cat.count > 0 %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="card shadow-sm">
                        <div class="card-body text-center">
                            <a href="#/cat/{{dos}}/{{cat.erp_id}}/0/null/" class="block" title="{{ 'Browse categorie'|trans }} {{cat.erp_id}}">
                                <span class="cat-name">{{cat.title}}
                                    <span class="badge badge-light col-1">{{ cat.count }}</span>
                                </span>
                                <span class="cat-imgs">
                                    {% for img in cat.imgs %}
                                        <img src="{{img.src}}" alt="{{img.alt}}">
                                    {% endfor %}
                                </span>

                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>