<select name="lv2" id="lv2" class="form-control">
    <option value="0">{{ 'All subcategories'|trans }}</option>
    {% for cat in cats %}
        {% if cat.count > 0 %}
            <option value="{{ cat.erp_id }}">{{ cat.title }}
                ({{cat.count}})</option>
        {% endif %}
    {% endfor %}
</select>