{% if cats | length > 1 %}
    <select name="lv3" id="lv3" class="form-control">
        <option value="null">{{ 'All ranges'|trans }}</option>
        {% for cat in cats %}
            {% if cat.count > 1 %}
                <option value="{{ cat.gamme }}">{{ cat.name|trans }}
                    ({{cat.count}})</option>
            {% endif %}
        {% endfor %}
    </select>
{% endif %}