<div class="container">
    <div class="row text-center">
        {% for img in imgs %}
            <div class="col-6 col-sm-3 col-md-3 col-lg-2 col-xl-2">
                <a href="{{img.src}}" data-toggle="lightbox" data-gallery="catalogue-gallery" data-type="image" data-title="{{img.name}}" data-footer="{{ img.des }}<a class='btn-lightbox' target='_blank' href='https://hexis-online.com/search.php?product={{img.name}}'>SHOP</a>">
                    <figure class="figure">
                        <img class="figure-img img-fluid img-thumbnail" alt="{{img.name}}" data-src="{{img.thumb}}">
                        <figcaption class="figure-caption text-center">{{img.name}}</figcaption>
                    </figure>
                </a>
            </div>
        {% endfor %}
    </div>
</div>