<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block metatitle %}HEXIS data center{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-title" content="HEXIS Data">
        <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico?v2"/>
        <link rel="shortcut icon" sizes="16x16" href="/assets/img/icon-16x16.png">
        <link rel="shortcut icon" sizes="196x196" href="/assets/img/icon-196x196.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/img/icon-152x152.png">
        <link rel="stylesheet" href="/assets/css/main.css?287fe6968f517d2a45bd">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="data-center {% block bodyclass %}{% endblock %}" data-spa="{{ block('bodyclass') }}">
        {{ topheader|raw }}
        <header class="container align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm ">
            <div class="row">
                <h5 class="col logo">
                    <a href="/"><img src="/assets/img/hexis.png"/>Data center</a>
                </h5>
                <div id="lng-select" class="col-3">
                    <select name="lang" id="lang" class="form-control">
                        <option value="0">---</option>
                        {% for dos in art_dos %}
                            <option value="{{ dos.dos }}">{{ dos.lang }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% block nav_widget %}{% endblock %}
        </header>

        <div class="container main-container">

            {% block body %}{% endblock %}

            {% block body_footer %}
                <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <p class="text-mute">
                        <strong>100</strong>: FR |
                        <strong>120</strong>: Energy |
                        <strong>200</strong>: DE |
                        <strong>300</strong>: IT |
                        <strong>400</strong>: ES |
                        <strong>500</strong>: SV</p>
                </div>
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="container d-flex flex-column flex-md-row align-items-center">
                <h6 class="my-0 mr-md-auto font-weight-normal text-light">
                    <span>HEXIS
                        <small>&copy;
                            {{ "now"|date("Y") }}</small>
                    </span>
                </h6>
                <nav class="my-2 my-md-0 mr-md-3">
                    {% if is_logegged_id %}
                        <a class="p-2 text-dark" href="{{ path('sync_index')}}">Sync</a>
                        <a class="p-2 text-dark" href="{{ path('explore_index')}}">Explore</a>
                        <a class="p-2 text-dark" href="{{ path('export_index')}}">Export</a>
                        <a class="p-2 text-dark" href="{{ path('pim_index')}}">pim</a>
                    {% endif %}
                    <a class="btn btn-outline-light" href="/public/admin">ADMIN HEXIS</a>
                    <a data-src="/public/{{app.request.locale}}/contacts-distributors-{{app.request.locale}}/" class="iframe-lightbox-link btn btn-secondary" href="javascript:return false">Contact</a>
                </nav>
            </div>
        </footer>
        <script src="/assets/js/libs/jquery/jquery.min.js"></script>
        <script src="/assets/js/libs/popper.js/popper.min.js"></script>
        <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
        <script src="/assets/js/libs/js-cookie/js.cookie.js"></script>
        <script src="/assets/js/libs/jqueryrouter/jquery.router.min.js"></script>
        <script src="/assets/js/libs/lazyloadxt/jquery.lazyloadxt.js"></script>
        <script src="/assets/js/libs/ekko-lightbox/ekko-lightbox.min.js"></script>
        <link rel="stylesheet" href="/assets/js/libs/iframe-lightbox/iframe-lightbox.css">
        <script src="/assets/js/libs/iframe-lightbox/iframe-lightbox.js"></script>
        <script src="/assets/js/app.js"></script>
        <script></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>