{% extends 'base.html.twig' %}

{% block title %}HEXIS offers explorer{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/assets/css/explorecss.css">{% endblock %}

{% block body %}
    <table id="offers" class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">{{'Category'|trans}}</th>
                <th scope="col">{{'Subategory'|trans}}</th>
                <th scope="col">{{'Range'|trans}}</th>
                <th scope="col">{{'Art'|trans}}</th>
                <th scope="col">100</th>
                <th scope="col">200</th>
                <th scope="col">300</th>
                <th scope="col">400</th>
                <th scope="col">500</th>
            </tr>
        </thead>
        <tbody>
            {% for art in arts %}
                <tr>
                    <td>{{ art.category|join('<br>') }}</td>
                    <td>{{ art.subcategory|join('<br>')  }}</td>
                    <td>{{ art.gamme|join('<br>')  }}</td>
                    <td>{{ art.art }}</td>
                    <td>
                        {% if art.100 is defined %}{{art.100}}
                        {% endif %}
                    </td>
                    <td>
                        {% if art.200 is defined %}{{art.200}}
                        {% endif %}
                    </td>
                    <td>
                        {% if art.300 is defined %}{{art.300}}
                        {% endif %}
                    </td>
                    <td>
                        {% if art.400 is defined %}{{art.400}}
                        {% endif %}
                    </td>
                    <td>
                        {% if art.500 is defined %}{{art.500}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/dataTables.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#offers').DataTable({paging: false});
        });
    </script>
{% endblock %}