{% extends 'base.html.twig' %}

{% block title %}HEXIS data export{% endblock %}

{% block body %}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Commercial offers</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Explore</h5>
                <ul class="list-unstyled mt-3 mb-4">
                    {% for dos in art_dos %}

                        <li>
                            <a href="{{ path('explore_offers',{'dos':dos.dos})}}">
                                <strong>Dos:
                                    {{ dos.dos }}</strong>
                                <small>{{ dos.results }}
                                    Offers</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <hr>
                <a href="{{ path('explore_compare')}}" class="btn btn-primary">
                    <strong>Compare offers</strong><br>
                </a>

            </div>
        </div>
    </div>
{% endblock %}