{% extends 'base.html.twig' %}

{% block title %}HEXIS offers explorer{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/assets/css/explorecss.css">{% endblock %}

{% block body %}
    <table id="offers" class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">dos</th>
                <th scope="col">{{'category'|trans}}</th>
                <th scope="col">{{'subcategory'|trans}}</th>
                <th scope="col">{{'Range'|trans}}</th>
                <th scope="col">art</th>
                <th scope="col">article</th>
            </tr>
        </thead>
        <tbody>
            {% for art in arts %}
                <tr>
                    <th scope="row">{{ art.id }}</th>
                    <td>{{ art.dos }}</td>
                    <td>{{ art.category }}</td>
                    <td>{{ art.subcategory }}</td>
                    <td>{{ art.gamme }}</td>
                    <td>{{ art.art }}</td>
                    <td>{{ art.article }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/dataTables.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#offers').DataTable({paging: false});
        });
    </script>
{% endblock %}