{% extends 'base.html.twig' %}

{% block title %}HEXIS PIM export{% endblock %}

{% block body %}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pré-références</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Download</h5>
                <ul class="list-unstyled mt-3 mb-4">
                    {% for dos in art_dos %}
                        <li>
                            <strong>Dos:
                                {{ dos.dos }}</strong>
                            <small>{{ dos.results }}
                                Arts</small>
                            <p>
                                <a href="{{ path('pim_pre_ref',{'dos':dos.dos})}}">CSV</a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Eléments d’arbo</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Download</h5>
                <ul class="list-unstyled mt-3 mb-4">
                    {% for dos in els_arbo %}
                        <li>
                            <strong>Dos:
                                {{ dos.dos }}</strong>
                            <small>{{ dos.results }}
                                Eléments</small>
                            <p>
                                <a href="{{ path('pim_elements_arbo',{'dos':dos.dos})}}">CSV</a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Arbos / Produit / Ref</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Download</h5>
                <ul class="list-unstyled mt-3 mb-4">
                    {% for dos in pim_arbo_produit_ref %}
                        <li>
                            <strong>Dos:
                                {{ dos.dos }}</strong>
                            <small>{{ dos.results }}
                                Results</small>
                            <p>
                                <a href="{{ path('pim_arbo_produit_ref',{'dos':dos.dos})}}">CSV</a>
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}